body {
  padding-top: 50px;
  padding-bottom: 30px;
}

.ember-cli-g-map {
  height: 400px;
  width: 736px;
}

.stats-cell-warning{
	background-color: orange;
}

.stats-cell-danger{
	background-color: red;
}
