<h4 class='chart-title'>Network Site</h4>

<div class="chart-container">
  {{pie-chart
      maxRadius=maxRadius
      maxSlicePercent=maxSlicePercent
      minSlicePercent=minSlicePercent
      maxNumberOfSlices=maxNumberOfSlices
      selectedSeedColor=selectedSeedColor
      data=chartData
      labelWidthMultiplier=labelWidthMultiplier
  }}
</div>
