<ol class='breadcrumb'>
  <li>{{link-to 'Network Sites' 'sites'}}</li>
  <li>{{link-to 'Users' 'admin.users'}}</li>
  <li>New</li>
</ol>

<h2>New Users</h2>

{{user-form
    companies=model.companies
    onSubmit=(route-action 'createUser')
}}

{{outlet}}
