<h3>Cable Run List</h3>

{{ember-table
    hasFooter=false
    columns=columns
    content=content
    selection=selection
    selectionMode='multiple'
}}

<div class="spacer"></div>

<button {{action 'clearSelection'}} class='btn btn-default'>
  Clear Selection
</button>

