<ol class='breadcrumb'>
  <li>{{link-to 'Network Sites' 'sites'}}</li>
</ol>
<h2>Edit Profile</h2>

{{user-profile-form
    email=model.user.email
    onSubmit=(route-action 'updateUser')
}}

{{outlet}}
