<div class="pull-right" style="margin: 1.2em 0;">
  {{#unless building.importJobStatus}}
    <span class="badge">No Jobs.</span>
  {{else}}
    <span class="badge">Job {{building.importJobStatus}}</span>
  {{/unless}}
</div>
