{{g-maps
    name='network-site-edit-map'
    lat=model.lat
    lng=model.lng
    zoom=16
}}

{{network-site-form
    site=model
    name=model.name
    address=model.address
    onPlaceUpdate=(route-action 'didUpdatePlace')
    onSubmit=(route-action 'submit')
    onDelete=(route-action 'deleteNetworkSite')
    place=place
    isEditing=true
}}

<h2>Buildings</h2>
{{#link-to 'sites.network-sites.network-site.buildings.new' data-test-selector='add-building-button'}}
  Add a New Building
{{/link-to}}
