<h4 class='table-title'>Network Elements Counts</h4>

<div class='light-table-container'>
  {{#light-table table height='50vh' as |t|}}
    {{t.head fixed=true}}
    {{t.body}}
  {{/light-table}}
</div>
