<h2>Network Sites</h2>

{{#if (can 'write networkSite')}}
  {{#link-to
      'sites.companies.company.network-sites.new'
      company
      data-test-selector='new-site-button'
      class='btn btn-primary'
  }}
    Add a New Site
  {{/link-to}}
{{/if}}

<ul class='list-unstyled'>
  {{#each sites as |site|}}
    <li class="associated-model-list-item">
      {{#link-to 'sites.network-sites.network-site.edit' site data-test-selector='network-site-item'}}
        {{site.name}}
      {{/link-to}}
    </li>
  {{/each}}
</ul>
