<h3 class='row-title'>Noovis Distribution Network</h3>
<div class='row'>
  <div class='col-md-6'>
    {{crl-stats-pie labels=labels values=siteStats}}
  </div>
  <div class='col-md-6'>
    {{crl-stats-bar data=buildingStats}}
  </div>
</div>
