<h2>Edit Company</h2>

{{g-maps-container model=model}}

{{company-form on-submit=(route-action 'updateCompany') on-delete=(route-action 'deleteCompany') isEditing=true name=model.name}}

{{network-sites-list company=model sites=model.networkSites}}
