{{yield}}
<div class="chart-header">
	<h3>Buildings</h3>
</div>
<div class="example-container">
  <div class="chart-container">
    {{vertical-bar-chart
      maxBarThickness=maxBarThickness
      selectedSeedColor=selectedSeedColor
      data=data
      maxLabelHeight=maxLabelHeight
      withinGroupPadding=withinGroupPadding
      betweenGroupPadding=betweenGroupPadding
      stackBars=stackBars
      hasXAxisTitle=hasXAxisTitle
      hasYAxisTitle=hasYAxisTitle
      xValueDisplayName=xValueDisplayName
      yValueDisplayName=yValueDisplayName
      xTitleHorizontalOffset=xTitleHorizontalOffset
      yTitleVerticalOffset=yTitleVerticalOffset
    }}
  </div>
</div>