<h2>Buildings</h2>
{{#link-to 'sites.network-sites.network-site.buildings.new' data-test-selector='add-building-button'}}
  Add a New Building
{{/link-to}}

<ul>
{{#each buildings as |building|}}
  <li>{{#link-to 'sites.buildings.edit' building data-test-selector='building-item'}}{{building.name}}{{/link-to}}</li>
{{/each}}
</ul>
{{yield}}
