{{#each model as |company|}}
	<h4>
		<a href="#" data-role="company-link">{{company.name}}</a>
	</h4>
	{{#each company.networkSites as |networkSite|}}
		{{network-site-listing networkSite=networkSite}}
	{{/each}}
{{/each}}