<div class="row">

<div class="col-xs-4">

  {{#link-to
      "sites.companies.new"
      data-role="new-company-btn"
      class="btn btn-default btn-primary"
  }}
      Add Company
  {{/link-to}}

  {{#each model as |company|}}
    <h4>
      {{link-to company.name "sites.companies.company.edit" company data-role="company-link"}}
    </h4>
    {{#each company.networkSites as |networkSite|}}
      {{network-site-listing networkSite=networkSite}}
    {{/each}}
  {{/each}}

</div>

<div class="col-xs-8">
{{outlet}}
</div>

</div>
