<h2>All Noovis @FiberSpeed™ Stats</h2>

{{outlet}}

{{ crl-stats-table }}
<div class="row">
  <div class="col-md-6">
		{{ crl-stats-pie }}
  </div>
  <div class="col-md-6">
		{{ crl-stats-pie }}
  </div>
</div>
