<form {{action 'submit' on='submit'}}>
  <div class='form-group'>
    <label>
      Company Name
    </label>
    {{x-input
        value=name
        size=50
        placeholder='Company, got a name?'
        data-test-selector='company-name-input'
        class='form-control'
    }}
  </div>
  
  <button 
    data-test-selector='submit-button'
    {{action 'submit'}}
    class='btn btn-primary'
  >
    Update
  </button>

  {{#if isEditing}}
    <button 
      data-test-selector='delete-button'
      {{action 'delete'}}
      class='btn btn-danger'
    >
      Delete
    </button>
  {{/if}}
</form>
