<form {{action 'submit' on='submit'}}>
  <div class='form-group'>
    <label>
      Company Name
      <br>
      {{input
          value=name
          size=50
          placeholder='Company, got a name?'
          data-test-selector='company-name-input'
      }}
    </label>
  </div>
  <button data-test-selector='submit-button' {{action 'submit'}}>Update</button>

  {{#if showEditControls}}
    <button data-test-selector='delete-button' {{action 'delete'}}>Delete</button>
  {{/if}}
</form>
